<h2>All Tasks</h2>
<table class="table-auto">
    <thead>
        <tr>
            <th>Description</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'single task' task.id %}">{{ task.description }}</a></td>
            <td>{{ task.get_status_display }}</td>
            <td><a href="{% url 'remove task' task.id %}">Delete</a></td>
            <td><a href="{% url 'update task' task.id %}">Edit</a></td>
            <td>{% include "components/add_time_form.html" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>