/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --main-text-color: #10002B;
    --red: #ff595e;
    --red-light: #ffc2c4;
    --red-dark: #8f0005;
    --yellow: #ffca3a;
    --yellow-light: #ffe499;
    --yellow-dark: #b88700;
    --green: #8ac926;
    --green-light: #d4efa9;
    --green-dark: #537916;
    --blue: #1982c4;
    --purple: #6a4c93;
    --purple-dark: #5c4280;
    --gray: #6c757d;
    --light-gray: #e5e5e5;
    --light-text-color: #F5EEFC;
    --main-font: 'Open Sans', sans-serif;
    --alt-font: 'Montserrat', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: var(--main-font);
    color: var(--main-text-color);
    margin: 0;
}

header {
    align-self: stretch;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    padding: 10px;
    background-color: var(--purple);
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.nav-item {
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
}

nav .active {
    background-color: var(--purple-dark);
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* align-items: center; */
}

footer {
    display: flex;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    display: flex;
    align-items: center;
}


label {
    margin-top: 10px;
}