@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

:root {
    --main-text-color: #242423;
    --red: #ff595e;
    --yellow: #ffca3a;
    --green: #8ac926;
    --blue: #1982c4;
    --purple: #6a4c93;
    --main-font: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--main-font);
    color: var(--main-text-color);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    display: flex;
    align-items: center;
}

p,
a {
    margin-right: 5px;
    /* text-decoration: none; */
}

a {
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

label {
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #373737;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

.container {
    align-self: stretch;
}

.show-element {
    display: none;
    background-color: #ffffff;
    position: absolute;
    height: 200px;
    width: 200px;
    left: calc(50vw - 200px);
    top: calc(20vh);
    border: 3px solid black;
    padding: 15px;
}