/* TABLES */
/* TASK */
table {
    border-collapse: collapse;
    margin: 25px 0;
    color: var(--main-text-color);
    font-family: var(--main-font);
    /* min-width: 400px; */
}

thead tr {
    text-align: left;
    font-family: var(--alt-font);
    font-size: 24;
    font-weight: 400;
    margin-bottom: 10px;
}


.list-item,
.list-item-head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5em;
    width: 100%;
    align-items: center;
    justify-content: center;
}

td p {
    margin: 0;
}

.container {
    align-self: stretch;
}

.list-item {
    height: 3em;
    color: var(--main-text-color);
    padding: 15px 0px;
    margin-bottom: 20px;
}

.list-item a {
    color: var(--main-text-color);
}

.list-item .description {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.list-item .description:hover {
    text-decoration: underline;
}

.list-item i {
    color: var(--purple-dark);
    font-size: 20px;
    padding: 5px;
}

.list-item .status {
    padding: 0.25em;
    color: white;
    border-radius: 0.25em;
    font-size: small;
    display: inline;
}

.list-item .NS {
    background-color: var(--gray);
}

.list-item .OG {
    background-color: var(--yellow);
}

.list-item .C {
    background-color: var(--green);
}

.list-item-buttons {
    display: flex;
    justify-self: start;
}

/* CATEGORY */

table .category {
    width: auto;
}

/* TIMELINE */

.js-plotly-plot,
.plot-container,
.svg-container,
.main-svg {
    min-width: 80vw !important;
    min-height: 80vh !important;
    overflow-y: 'scroll';
    overflow-x: 'scroll';
}

/* ALL TASKS */

.search-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-add-container i {
    color: var(--purple);
}

.search-add-container a {
    text-decoration: none;
}

.search-add-container .fa-file-import {
    font-size: 24px;
}