nav a {
    font-weight: 500;
    text-decoration: none;
    color: var(--light-text-color);
    padding: 5px;
    border-radius: 5px;
    font-family: var(--alt-font);
}

nav a:active {
    font-weight: 500;
    text-decoration: none;
    color: var(--light-text-color);
    font-family: var(--alt-font);
}

p,
a {
    margin-right: 5px;
    /* text-decoration: none; */
    letter-spacing: 0.1em;
}

a {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.05em;
    font-weight: 300;
}