nav a {
    font-weight: 500;
    text-decoration: none;
    color: var(--light-text-color);
    padding: 5px;
    border-radius: 5px;
    font-family: var(--alt-font);
}

nav a:active {
    font-weight: 500;
    text-decoration: none;
    color: var(--light-text-color);
    background-color: var(--purple-dark);
    font-family: var(--alt-font);
}