.show-element {
    display: none;
    background-color: #ffffff;
    position: absolute;
    height: 250px;
    width: 250px;
    left: calc(50vw - 140px);
    top: calc(20vh);
    border: 1px solid var(--purple);
    padding: 15px;
    border-radius: 14px;
    box-shadow: -4px 4px 7px -2px rgba(43, 23, 59, 0.61);
    -webkit-box-shadow: -4px 4px 7px -2px rgba(43, 23, 59, 0.61);
    -moz-box-shadow: -4px 4px 7px -2px rgba(43, 23, 59, 0.61);
}

/* BUTTONS */

.purple-button {
    text-decoration: none;
    width: fit-content;
    cursor: pointer;
    outline: 0;
    color: var(--light-text-color);
    background-color: var(--purple);
    border-color: var(--purple);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
    height: auto;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.purple-button:hover {
    color: var(--light-text-color);
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);
}

.small-button {
    color: var(--main-text-color);
    background-color: #ffffff;
    border: 2px solid var(--purple);
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    padding: 5px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.small-button:hover {
    color: var(--light-text-color);
    background-color: var(--purple);
}

.clickable {
    cursor: pointer;
}

/* MESSAGES */
.messages li {
    padding: 5px;
}

.messages .success {
    background-color: var(--green-light);
    color: var(--green-dark);
    border: 1px solid var(--green-dark);
    border-radius: 0.5em;
}

.messages .warning {
    background-color: var(--yellow-light);
    color: var(--yellow-dark);
    border: 1px solid var(--yellow-dark);
    border-radius: 0.5em;
}

.errorlist li,
.messages .error {
    background-color: var(--red-light);
    color: var(--red-dark);
    padding: 5px;
    border: 1px solid var(--red-dark);
    border-radius: 0.5em;
}

/* BUTTON CONTAINERS */

.button-pair {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
}

.button-pair i {
    font-size: 22px;
    padding: 5px;
    color: var(--purple-dark);
}

.button-pair-icons {
    display: flex;
    align-items: center;
}