<nav>
    <li class="nav-item {% if request.path == '/task/all' %}active{% endif %}"><a href="{% url 'all tasks' %}">
            Tasks
        </a></li>
    <li class="nav-item {% if request.path == '/category/all' %}active{% endif %}"><a href="{% url 'all categories' %}">
            Categories
        </a></li>
    <li class="nav-item {% if request.path == '/profile/' %}active{% endif %}"><a href="{% url 'profile' %}">Profile</a>
    </li>
    <li class="nav-item {% if request.path == '/' %}active{% endif %}"><a href="{% url 'index' %}">
            Timeline
        </a></li>
</nav>