{% extends "base.html" %}

{% block main %}
<div>
    <h3>{{ task.category }}</h3>
    <table>
        <tbody>
            <tr>
                <td>Start date:</td>
                <td>{{ task.start }}</td>
            </tr>
            <tr>
                <td>Deadline:</td>
                <td>{{ task.deadline }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{ task.get_status_display }}</td>
            </tr>
            <tr>
                <td>Estimated duration:</td>
                <td>{{ task.estimated_duration }}</td>
            </tr>
            <tr>
                <td>Actual duration:</td>
                <td>{{ task.actual_duration }}</td>
            </tr>
        </tbody>
    </table>
    <div class="button-pair">
    <a class="small-button" href="{% url 'all tasks'%}">Back</a>
    <div class="button-pair-icons">
        {% include "components/task/delete.html" %}
        <a href="{% url 'update task' task.id %}">
            <i title="Edit task" class="fa-solid fa-pen-to-square"></i>
        </a>
        {% include "components/task/form/add_time.html" %}
    </div>
    <div>
</div>

{% endblock %}