{% extends "base.html" %}

{% block main %}
<form  class="task-form" action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.as_div}}
    <div>
    <label for="category">Category</label>
    <input  class="input" name="category" type="text" list="category" value="{{ current_category }}">
    <datalist id="category">
        {% for cat in categories %}
        <option value="{{ cat.name }}"></option>
        {% endfor %}
    </datalist>
</div>
    <a class="small-button" href="{% url 'all tasks'%}">Back</a>
    <input type="submit" class="purple-button" value="Submit"> 
</form>
{% endblock %}