<form action="" class="task-form" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.as_div}}
    <div>
    <label for="category">Category</label>
    <input  class="input"name="category" type="text" list="category" value="{{ current_category}}" required>
    <datalist id="category">
        {% for cat in categories %}
        <option value="{{ cat.name }}"></option>
        {% endfor %}
    </datalist>
    </div>

    <input type="submit" class="purple-button submit" value="Submit">
</form> 
<a class="small-button" href="{% url 'all tasks'%}">Back</a>