<form class="search-form">
        <select class="search" name="status" id="status">
            <option class="default-option"value="">Any status</option>
            <option value="NS" {% if status == "NS" %} selected {% endif %}>Not started</option>
            <option value="OG" {% if status == "OG" %} selected {% endif %}>Ongoing</option>
            <option value="C" {% if status == "C" %} selected {% endif %}>Completed</option>
        </select>
    <div class="search-input input">
        <input autocomplete="off" class="search" type="text" name="q" value="{{ q }}" placeholder="Description or category">
        <button class="search clickable" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</form>