<table class="table-auto">
    <thead>
        <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="list-item">
            <td><a class="description" href="{% url 'single task' task.id %}">{{ task.description }}</a></td>
            <td>
                <p>{{ task.category }}</p>
            </td>
            <td>
                <p class="status {{ task.status }}">{{ task.get_status_display }}</p>
            </td>
            <td class="list-item-buttons">
                {% include "components/task/delete.html" %}
                <a href="{% url 'update task' task.id %}">
                    <i title="Edit category" class="fa-solid fa-pen-to-square"></i>
                </a>
                {% include "components/task/form/add_time.html" %}
            </td>
        </tr>
        {% empty %}
        <p>No tasks to show </p>
        {% endfor %}
    </tbody>
</table>